/*
========================================================================================
    nf-core/eqtl Nextflow base config file
========================================================================================
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/
params{
    chunkSize=20
    mem1= 10000


    LIMIX{
        run=false
    }

    SAIGE{
        run=true
    }

    TensorQTL{
        run=true
        use_gt_dosage = true 
        optimise_pcs = true
        interaction_file='' // to run interaction, provide a TSV with genotype ID and interaction 
        interaction_maf = 0.1
        interaction_pc_cor_threshold = 0.25 // Drop PCs correlated with interaction above this threshold. Use 1 if you don not want to drop PCs
        trans_by_cis=true // Run trans-by-cis analysis (all genes, limiting variants) following OPTIM PCs?
        trans_of_cis=true // Run trans-of-cis eQTL analysis (all variants, limiting genes), following OPTIM PCs? 
    }
    
    outdir='results'
    copy_mode = "rellink"
    genotype_phenotype_mapping_file=''
    utilise_gpu = false
    gtf_type='gene' //# 'gene|transcript'
    input_tables_column_delimiter = '\t' 
    n_min_cells = '5' // The number of cells for individual to use. 
    n_min_individ = '30' //Do not select less than 25 since this may result in a permutation issue with tensorqtl
    aggregation_method = 'dMean,dSum' // can be: dMean, dSum or both separated by comma
    dMean_norm_method = 'cp10k' // Normlisation method for dMean, can be cp10k or a precomputed normalised counts layer in the anndata file
    inverse_normal_transform = 'FALSE' // Inverse normal trasnform data as part of normalisation
    bcftools_filters = '--max-alleles 2 -m2 -M2 -v snps'
    //plink2_filters = '--allow-extra-chr 0 --chr 1-22 XY --output-chr chrM --indep-pairwise 250 50 0.2 --snps-only --rm-dup exclude-all'
    plink2_filters = '--allow-extra-chr 0 --chr 1-22 XY --output-chr chrM --snps-only --rm-dup exclude-all'
    maf = 0.1
    hwe= 0.0000001
    windowSize=1000000
    numberOfPermutations=1000
    filter_method = 'HVG' // filterByExpr|HVG|None
    norm_method = 'DESEQ'  //'DESEQ|TMM|NONE'
    percent_of_population_expressed=0.2 // whats the proportion of individuals that has to have the value !=0
    tmpdir = "${launchDir}/work"
    aggregation_columns='Azimuth:predicted.celltype.l1' //for the scrna h5ad file define which annotations to use when aggregating the data. Can be one value or multiple comma separated values
    
    covariates{
        nr_phenotype_pcs = '2,4'
        nr_genotype_pcs = 10
        extra_covariates_file = ''
    }

    eqtl_container = 'https://yascp.cog.sanger.ac.uk/public/singularity_images/eqtl_08_07_2024.sif'
    eqtl_docker='mercury/eqtl:08_07_2024'

    saige_container = 'https://yascp.cog.sanger.ac.uk/public/singularity_images/saigeeqtl_0_1_0.sif'
    saige_docker='mercury/saige_eqtl:25_07_2024'

    
}


process {
    cache = 'lenient'
    maxRetries    = 5
    maxErrors     = '-1'
    errorStrategy = 'retry'
    cpus   = {  1    * task.attempt }
    memory = {  4.GB * task.attempt }
    time   = { 4.h  * task.attempt }


    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt  }
    }
    withLabel:process_medium_memory {
        memory = { 200.GB * task.attempt }
    }

    withLabel:process_tiny {
      cpus = 1
      maxRetries    = 5
      memory = 2.GB
      time   = {  3.h   * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 1     * task.attempt    }
        memory = { 12.GB * task.attempt }
        time   = { 12.h   * task.attempt   }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt   }
        memory = { 16.GB * task.attempt  }
        time   = { 6.h   * task.attempt    }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt    }
        memory = { 32.GB * task.attempt }
        time   = { 16.h  * task.attempt   }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName: LIMIX{
        errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--nv'
}