/*
========================================================================================
    nf-core/eqtl Nextflow base config file
========================================================================================
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/
params{
    chunkSize=70
    mem1= 10000
    LIMIX{
        run=false
    }
    TensorQTL{
        run=true
        interaction_file=''  \\ to run interaction set to true and provide a TSV with genotype ID and interaction term
        utilise_gpu = false
        use_gt_dosage = true 
    }
    outdir='results'
    copy_mode = "rellink"
    input_tables_column_delimiter = '\t' 
    n_min_cells = '5' // The number of cells for individual to use. 
    n_min_individ = '30' //Do not select less than 25 since this may result in a permutation issue with tensorqtl
    aggregation_method = 'dMean,dSum' // can be: dMean, dSum or both separated by comma
    dMean_norm_method = 'cp10k' // Normlisation method for dMean, can be cp10k or a precomputed normalised counts layer in the anndata file
    inverse_normal_transform = 'TRUE' // Inverse normal trasnform data as part of normalisation
    bcftools_filters = '--max-alleles 2 -m2 -M2 -v snps'
    //plink2_filters = '--allow-extra-chr 0 --chr 1-22 XY --output-chr chrM --indep-pairwise 250 50 0.2 --snps-only --rm-dup exclude-all'
    plink2_filters = '--allow-extra-chr 0 --chr 1-22 XY --output-chr chrM --snps-only --rm-dup exclude-all'
    maf = 0.1
    hwe= 0.0000001
    windowSize=100000
    numberOfPermutations=1000
    filter_method = 'HVG' // filterByExpr|HVG|None
    
    tmpdir = "${launchDir}/work"

    covariates{
        nr_phenotype_pcs = '10,20,30'
        nr_genotype_pcs = 10
        extra_covariates_file = ''
    }
    container='https://yascp.cog.sanger.ac.uk/public/singularity_images/eqtl_15_05_2023.img'
    eqtl_container = 'https://yascp.cog.sanger.ac.uk/public/singularity_images/eqtl_15_05_2023.img'
    limix_container='https://yascp.cog.sanger.ac.uk/public/singularity_images/eqtl_15_05_2023.img'
    eqtl_docker='mercury/eqtl:latest'
}


process {
    cache = 'lenient'
    // TODO nf-core: Check the defaults for all processes
    

}
