/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/eqtl -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    method= 'bulk' //or a [bulk | single_cell] (if single cell used the *phenotype_file* is a h5ad file)
    input_vcf ='https://yascp.cog.sanger.ac.uk/public/test_datasets/QTLight/tensorQTL_example.vcf'
    genotype_phenotype_mapping_file = 'https://yascp.cog.sanger.ac.uk/public/test_datasets/QTLight/sample_mapplings.tsv' // annotation file containing Genotype | RNA and | Condiion
    annotation_file = 'https://yascp.cog.sanger.ac.uk/public/test_datasets/QTLight/Homo_sapiens.GRCh38.99.gtf' //assets file that has start and end positions for the genes, this one is using hg38
    phenotype_file = 'https://yascp.cog.sanger.ac.uk/public/test_datasets/QTLight/GEUVADIS.445_samples.phenotype.tsv' //this should point to h5ad file in a single cell experiments, ensuring adata.X is raw counts
    plink2_filters = '--allow-extra-chr 0 --chr 1-22 XY --snps-only --rm-dup exclude-all'
    filter_method = 'None' // filterByExpr|HVG|None
    norm_method = 'NONE'  //'DESEQ|TMM|NONE'

    TensorQTL{
        run=true
        interaction_maf = 0.1
        use_gt_dosage = true 
        optimise_pcs = true
        interaction_file='https://yascp.cog.sanger.ac.uk/public/test_datasets/QTLight/interaction_file.tsv' // to run interaction, provide a TSV with genotype ID and interaction
        interaction_file='' 
    }


    LIMIX{
        run=false
        callRate=0.95
        blockSize=1500
        hwe=0.0000001
        numberOfPermutations=10
        chromosomes_to_test=[18]
        use_gt_dosage=true
    }

    covariates{
        nr_phenotype_pcs = '2,5'
        nr_genotype_pcs = 10
        extra_covariates_file = 'https://yascp.cog.sanger.ac.uk/public/test_datasets/QTLight/GEUVADIS.445_samples.covariates.txt'
        genotype_pcs_file = ''
        genotype_pc_filters = '--indep-pairwise 50 5 0.2'
        use_gt_dosage=true
    }

}
